*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 2px solid rgb(52, 48, 48);
    border-radius: 9px;
    width: fit-content;
    background-color: #44db88;
    color: rgb(96, 0, 193);
}
#calc-btn{
    background-color: #e123ab;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}
#calc-btn:hover{
    background-color: #751e5b;
}
#calc-btn:active{
    background-color: #a25181;
}